<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>302543559869-kgtm9jbdk27rmjk0b2gn1h7uqem0epet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302543559869-kgtm9jbdk27rmjk0b2gn1h7uqem0epet</string>
	<key>API_KEY</key>
	<string>AIzaSyAtVTx77bHoOsvC07il1DMgcILJJ9WynvU</string>
	<key>GCM_SENDER_ID</key>
	<string>302543559869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.judemolloy.KonectApp</string>
	<key>PROJECT_ID</key>
	<string>konect-u</string>
	<key>STORAGE_BUCKET</key>
	<string>konect-u.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302543559869:ios:2f3a70486c808581</string>
	<key>DATABASE_URL</key>
	<string>https://konect-u.firebaseio.com</string>
</dict>
</plist>